<!--Charts-->
<div  ng-controller="mainController" class="charts-container">
    {{random}}

    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <div id="crime_chart" style="width: 200px; height: 200px"></div>

</div>


<!--Side Menu-->
<div class="menu">

    <form>
        <div class="form-group">
            <label>Dimensions</label>
            <select ng-model="selectedDim">
                <option>Population</option>
                <option>Crime</option>
                <option>Education</option>
                <option>Housing</option>
            </select>

        </div>
        <button class="btn btn-primary" ng-click="addDimensionToSelection(selectedDim)">Add</button>
    </form>

    <ul>
        <li></li>
    </ul>


</div>

<!--Map-->
<div id="map-canvas"></div>




