<!--Side Menu-->
<div class="menu"></div>    

<!--Map-->
<div id="map-canvas"></div>

<!--Charts-->
@*<div class="container charts-container" >

</div>

<div id="chart_div" style="width:400; height:300"></div>*@
